
        <nav>
            <div style="font-size: 38px; margin-left: 20px;padding: 0px; ">
                Tranport
            </div>
            <div style="height: 100%;">
                <ul>
                    <li><a routerLink =""><button>Home</button></a></li>
                    <li><a (click)="riderOrDriber()"><button >Your Trips</button></a></li>
                    <li><a  routerLink ="/bus-trips"><button>Bus Trips</button></a></li>
                    <li><a routerLink ="/driver-or-rider"><button>Sign In</button></a></li>
                </ul>
            </div>
        </nav>
        