<div class="img-background">
    <div class="column">
        <input (click)="refreshList()" type="submit" class="btn btn-primary" value="Refresh">
    </div>
    <div class="header">
        Your Trips
    </div>
    <div *ngFor="let trip of list;" class="form-container">
        <div class="row" style="height: 100%;">
            <div class="col col-4">
                <div class="row" style="height: 50%; padding-left: 40px; align-items: center; font-size: 26px;">
                    From: <b>{{trip.from}}</b>
                </div>
                <div class="row" style="height: 50%; padding-left: 40px; align-items: center; font-size: 26px;">
                    To: <b>{{trip.to}}</b>
                </div>
            </div>
            <div class="col col-4">
                <div class="row" style="height: 50%; align-items: center; font-size: 26px;">
                    Distance: <b>{{trip.distance}} km.</b>
                </div>
                <div class="row" style="height: 50%; align-items: center; font-size: 26px;">
                    Price: <b>{{trip.price}} LE.</b>
                </div>
            </div>
            <div class="row col-4" style="align-items: center;">
                    <div style="margin: 10px;">
                        <input (click)="accept(trip.id)" style="width: 65%; font-size: 22px; margin: 10px;" type="submit" class="btn btn-primary" value="Accept">
                        <input (click)="cancel(trip.id)" style="width: 65%; font-size: 22px; margin: 10px;" type="submit" class="btn btn-primary" value="Refuse">
                    </div>
            </div>
        </div>
    </div>
</div>
